/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button[disabled="true"]::before {
  content: '▶';
  position: absolute;
  right: 95px;
  top: 2px;
  transform: translateY(-50%);
  color: currentColor;
  animation: arrowAnimation 0.5s ease-in-out infinite alternate;
}

@keyframes arrowAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(4px);
  }
}




.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}


.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--color-text);
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--color-text);
  transition: fill 0.3s linear;
}

.like-icon.is-liked:active .main-body {
  fill: var(--color-heart);
  transition: fill 0.5s 0.06s linear;
}


.like-icon:active .core {
  fill: var(--color-heart);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--color-heart);
  transition: fill 0.05s 0.3s linear;
}

.like-icon.is-liked .countour {
  fill: var(--color-heart);
  transition: fill 0.3 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--color-heart);
  transition: fill 0.3 linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-heart);
  transition: fill 0.05s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s 0.1s reverse ease-in alternate;
  animation-duration: alternate;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  fill: var(--color-heart);
  animation: heart 0.3s 0.1s reverse ease-in, resetFill 0s 0.4s forwards;
  animation-duration: alternate;
}



@keyframes heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes resetFill {
  to {
    fill: none;
  }
}