/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--primary-font);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  color: var(--accent-color);
  margin: 0 auto;
  display: grid;
  justify-content: center;
  color: var(--color-text);
  color: var(--color-text);
  font-variation-settings: 'wght' var(--main-font-weight);
  background-image: var(--background-gradient-image);
  font-size: var(--font-size);
  background-repeat: repeat;
  background-attachment: fixed;
}

.section_width {
  max-width: 700px;
  display: flex;
  flex-direction: column;

}

.header {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 102px;
  border: 2px solid var(--color-text);
  margin-block: 100px;
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-family: var(--accent-font);
  margin: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) auto 10px;

}

.header__sub-title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-family: var(--accent-font);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: grid;
  gap: 7px;
  margin-block-start: 12px;
  margin-inline-start: 15px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  margin-block-end: 24px;

}

.theme-menu__button {
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  color: var(--color-text);
  font-family: var(--accent-font);
  background-color: transparent;
  transition: opacity 0.3s ease;
  pointer-events: auto;
  position: relative;


}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--color-text);
  transform-origin: left bottom;
  transform: scaleX(0);
  display: inline-block;
}

.theme-menu__button:hover,
.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  text-decoration: none;
}


.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}


.theme-menu__item {
  position: relative;
}

.img_card {
  max-width: 696px;
  min-height: 696px;
  object-fit: cover;
  background-size: cover;
  background-position: center top;
  position: relative;
  overflow: hidden;
  display: block;
}

.card__container-image img {
  inline-size: 100%;
  object-fit: cover;
}

.card-container {
  margin: 0 auto;
}

.card {
  font-family: var(--primary-font);
  font-weight: var(--title-font-weight);
  color: var(--accent-color);
  outline: 2px solid var(--color-text);
}

.card_title {
  font-size: var(--font-size);
  font-weight: var(--title-font-weight);
  color: var(--color-text);
  margin: 3px auto 7px 10px;
}

.cards {
  display: grid;
  max-width: 696px;
  margin: 0 auto;
  margin-block-end: 50px;
  background: var(--accent-color-bg);
}

.card-texts {
  padding: 25px;
  color: var(--color-text);
  display: grid;
  gap: 27px;
  font-weight: var(--text-font-weight);
}

.card__container-image {
  position: relative;
  outline: 2px solid var(--color-text);
}


.label {
  position: absolute;
  top: 24px;
  right: 25px;
  font-family: 'PressStart2P', sans-serif;
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  color: var(--color-text);
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color),
    0 -1px var(--background-color);
}


.card-text {
  margin-block-end: 25px;
  line-height: 21px;
  font-size: var(--font-size);
  font-weight: var(--text-font-weight);
}

.card_buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.buttons {
  background-color: var(--background-color);
  font-family: var(--accent-font);
  font-size: 14px;
  padding: 11px 35px;
  color: var(--hover_text);
  border: 2px solid var(--color-text);
  position: relative;
  overflow: hidden;

}

.buttons svg {
  color: var(--color-text);
}

.dialog_button .buttons {
  padding: 15px 18px 18px 18px;
}


.buttons::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background-color: var(--hover_text, #fff);
  transition: transform 0.3s ease-in-out;
  mix-blend-mode: difference;
  z-index: 1;
}

.buttons:hover::before {
  transform: translateX(100%);
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  transition: transform 0.3s ease-in-out;
}

.buttons:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--color-text);
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 39px;
  height: 36px;
  outline: none;
  transition: var(--transition);
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}


.dialog_button {
  display: flex;
  justify-content: center;
  margin-block-end: 103px;
}

.dialog {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 357px;
  min-height: 198px;
  transform: translate(-50%, -50%);
  background-color: var(--accent-color-bg);
  color: var(--color-text);
  font-family: var(--accent-font);
  font-weight: var(--title-font-weight);
  font-size: 14px;
  border: 2px solid var(--color-text);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1010;
}

.dialog_form {
  display: grid;
  gap: 30px;
  margin: 30px;
}

.dialog_floppy {
  color: var(--color-text);
  width: 89px;
  height: 39px;
}

.dialog_floppy::before {
  position: relative;
  z-index: 2;
}

.color_text::before {
  color: var(--button-text-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog_label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  line-height: 21px;
  text-transform: uppercase;
}


.blur {
  filter: blur(2px);
}

.brightness {
  filter: brightness(150%);
}

.contrast {
  filter: contrast(200%);
}

.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.invert {
  filter: invert(75%);
}

.saturate {
  filter: saturate(200%);
}

.sepia {
  filter: sepia(80%);
}

@supports (-webkit-text-stroke: 1px black) { 
    .label {
    -webkit-text-stroke: 1px var(--background-color);
  }
}



@media (width <=375px) {
  .body {
    margin: 0 auto;
  }

  .page {
    width: 375px;
  }

  .header {
    gap: 10px;
    margin-block-end: 103px;
  }

  .card_title {
    margin: 3px 3px 7px 10px;
  }

  .section_width {
    width: 371px;
  }

  .card-texts {
    padding: 28px 25px 21px 25px;
    gap: 26px;
  }

  .img_card {
    max-width: 100%;
    min-height: auto;
  }

  .header__theme-menu {
    margin-block-end: 21px;
  }

  .theme-menu__list {
    margin-block-start: 12px;
    margin-inline-start: 20px;
  }

  .dialog_button {
    margin: 0 34px;
    margin-block-end: 103px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .dialog_button .buttons {
    padding: 16px 18px;
  }

  .buttons svg {
    width: 28px;
    height: 28px;
  }

}