/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --primary-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', sans-serif;
    --background-color: var(--accent-color);
    --accent-color: #000;
    --accent-color-transparent: rgb(0 0 0 / 0.6);
    --button-text-color: #fff;
    --color-text-button: #fff;
    --color-heart: #ff0000;
    --color-none-heart: rgba(256, 0, 0, 0);
    --font-size: 18px;
    --hover_text: #fff;
    --section-width: 100vh;
    --title-font-weight: 700;
    --text-font-weight: 400;
    --color-text: #000;
    --text-outline-color: var(--background-color);
    --background-gradient-image: repeating-linear-gradient(#d3d3d3 0px 2px, rgb(211 211 211/0) 2px 4px),
        repeating-linear-gradient(90deg, #d3d3d3 0px 2px, rgb(211 211 211/0) 2px 4px),
        linear-gradient(#E7E7E7 0.01%, #1A1A1A);
}